<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Neptune.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2731C16921AE5B9F000D573A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2742B20F21A5A22200AD6A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2772F7A321A4FA4A00535F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
